/*
  ** OpenSans Fonts
*/

/*@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans'), local('OpenSans'), url('/fonts/OpenSans/OpenSans.woff2') format('woff2'),
    url('/fonts/OpenSans/OpenSans.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}*/
/*@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans-Light'), local('OpenSans-Light'), url('/fonts/OpenSans/OpenSans-Light.woff2') format('woff2'),
    url('/fonts/OpenSans/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans'), local('OpenSans-Regular'), url('/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
    url('/fonts/OpenSans/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans-Italic'), local('OpenSans-Italic'), url('/fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'),
    url('/fonts/OpenSans/OpenSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans-Medium'), local('OpenSans-Medium'), url('/fonts/OpenSans/OpenSans-Medium.woff2') format('woff2'),
    url('/fonts/OpenSans/OpenSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans-Bold'), local('OpenSans-Bold'), url('/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
    url('/fonts/OpenSans/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans-Black'), local('OpenSans-Black'), url('/fonts/OpenSans/OpenSans-Black.woff2') format('woff2'),
    url('/fonts/OpenSans/OpenSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
*/